<html>
    <head>
        <title>
            Bacon number calculator
        </title>
    </head>
    <body>
        {% for button_name, function_name in links.items() %}
            <input 
                type="button" 
                value="{{ button_name }}" 
                onclick="window.location.href = '{{ url_for(function_name) }}';"
            >
            <br>
        {% endfor %}
    </body>
</html>
